<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>裁剪上传</title>
  <link rel="stylesheet" href="/css/upload-crop.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <input id="uploadInput" type="file">

  <div class="preview">
    <div class="crop-block"></div>
    <img alt="">
  </div>

  <button class="generate-crop">生成结果</button>

  <script src="/js/upload-crop.js"></script>
</body>
</html>